body{
    background-image: url(images/download.jpg) ;
    color: white;
    
    .fullcontainer {
        width: 500px;
    
    background-color:rgba(0,0,0,0.5);
    margin: 0 auto;
    
    }
    }
    .error {color: #FF0000;}